.title {
    color: $white-normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 768px) {
    .title{
        font-size: 20px;
    }
}
.allSection{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    flex: 1;

    img{
        width: 200px;
        padding: 8px;
        cursor: pointer;
    }
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 10px;
        margin: 8px;
    }
    p{
        color: white;
        text-align: center;
    }

    .layer {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba($color: #d34040, $alpha: 0.8);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px $red-normal;
        z-index: 2;
        width: 250px;
    }
}
@media screen and (max-width: 768px) {
    .allSection{
        img{
            width: 150px;
        }
        p{
            font-size: 12px;
        }
        
    }
}
